<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/scripts.js"></script>
    <meta charset="UTF-8">
    <title>Edit user</title>
    </div>
    <style type="text/css">
        .nav-item{
            display: inline;
        }
        .row{
            display: flex;
        }
    </style>
</head>
<body>

<div sec:authorize="hasAnyRole('USER', 'USER_CHIEF')">
    <div th:replace="fragments/nav :: user_nav_bar"></div>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <div th:replace="fragments/nav :: admin_nav_bar"></div>
</div>
<div sec:authorize="hasRole('GUEST')">
    <div th:replace="fragments/nav :: guest_nav_bar"></div>
</div>

<form th:action="@{/user/update}" th:method="POST" th:object="${appUserWithoutPassDto}" action="/user/update">
    <input type="hidden", th:field="*{employeeId}" th:value="${appUserWithoutPassDto.getEmployeeId()}">
    <input type="hidden", th:field="*{userId}" th:value="${appUserWithoutPassDto.getUserId()}">

    <div class="row">
    <label>Username</label>
    <input required th:field="*{nickname}" type="text" th:value="${appUserWithoutPassDto.getNickname()}"/>
    <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Name Error</div>
    </div>
    <br>
    <div class="row">
        <label>Roles</label>
        <input type="checkbox" name="appRoles" th:field="*{appRoles}" th:value="ROLE_ADMIN">ADMIN<Br>
        <input type="checkbox" name="appRoles" th:field="*{appRoles}" th:value="ROLE_USER">USER<Br>
        <input type="checkbox" name="appRoles" th:field="*{appRoles}" th:value="ROLE_USER_CHIEF">USER_CHIEF<Br>
        <input type="checkbox" name="appRoles" th:field="*{appRoles}" th:value="ROLE_GUEST">GUEST<Br>
        <div th:if="${#fields.hasErrors('appRoles')}" th:errors="*{appRoles}">Name Error</div>
    </div>

    <br>
    <button type="submit">edit user</button>
</form>
<br>
<a th:href="@{/user/reset/password/card(userId=${appUserWithoutPassDto.getUserId()})}" href="/user/reset/password/card" th:text="'reset password'">0</a>

</body>
</html>