<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .containerTable{
            width: 3000px;
        }
        .customTable, .customTable td {
            border: 1px solid lightgray;
            padding: 5px;
            table-layout: fixed;
        }
        .nav-item{
            display: inline;
        }
    </style>
</head>
<body>

    <div th:replace="fragments/nav :: guest_nav_bar"></div>




    <p>Договоры залога:</p>
    <label>Всего:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements/all/guest(page=0)}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfAllPledgeAgreement}">0</a>
    <label>Первичных:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements/perv_posl/guest(page=0, pervPosl='PERV')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPervPledgeAgreements}">0</a>
    <label>Последующих:</label>
    <a th:href="@{/pledge_agreement/pledge_agreements/perv_posl/guest(page=0, pervPosl='POSL')}" href="pledge_agreement/pledge_agreements.html" th:text="${countOfPoslPledgeAgreements}">0</a>

    <br>
    <br>

    <p>Кредитные договоры:</p>
    <label>Всего:</label>
    <a th:href="@{/loan_agreement/loan_agreements/guest(page=0)}" href="loan_agreement/loan_agreements.html" th:text="${countOfLoanAgreements}">0</a>

</body>
</html>